
#vertMenuItem {
  box-sizing: border-box;
  height:140px;
width: auto;
  background-color: #CCCCCC;
  float: none;
}

#vertMenuIcon {

  height:65px;
  float: right;
  }

.ui.vertical.menu {
		width: auto;
		
}

